%header
    %nav.navbar.fixed-top.navbar-expand-lg{:style => "background-color: #590004;border-radius: 0px;"}
        %ul.navbar-nav.mr-auto.no-bullets.nav
            %li.nav-item
                %a.navbar-brand.nav-link.nav-it{:href => "/"} Releases
            %li.nav-item
                %a.navbar-brand.nav-link.nav-it{:href => "#"} Forum
            %li.nav-item
                %a.navbar-brand.nav-link.nav-it{:href => "/contact"} Contact Us
            %li.nav-item
                %a.navbar-brand.nav-link.nav-it{:href => "#"} Log In/Sign Up
