/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$font: 'Times New Roman', 'Times', serif;$color: #FFFFFF;

.edit_indent {
    margin-left: 40px;
}

a {
    color: #F3F3F3;
    font-size: 20px;
}

body, html {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0px; /* Remove margins */
}


a:hover {
    color: #DADDD8 !important;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0) !important;
}
.flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
